<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @membership.user_id %>
  <%= @membership.user.display_name %>
</p>

<p>
  <strong>ERG:</strong>
  <%= @membership.erg_id %>
  <%= @membership.erg.name %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
