<% content_for :title, "u/" + @user.username %>
<div class="user">
  <div class="username"><%= @user.username %></div>
  <div class="user-about">
    <%= @user.content %>
    <% if Current.user.present? %>
      <% if Current.user.id == @user.id %>
        <%= link_to "Edit", edit_user_path(@user) %>
      <% end %>
    <% end %>
  </div>
  <div class="user-links">
  <span class="user-link-left"><%= link_to "Blogs", user_blogs_path(@user) %></span>
  <span class="user-link-middle"><%= link_to "Posts", user_posts_path(@user) %></span>
  <span class="user-link-right"><%= link_to "Comments", user_comments_path(@user) %></span>
  </div>
</div>
