<footer>
  <div class="container-fluid">
    <p>
      <%= link_to "About", doc_path('about') %>
      : <%= link_to "FAQ", doc_path('faq') %>
      : <%= link_to "Roadmap", doc_path('roadmap')%>
      : <%= link_to "Terms", doc_path('terms') %>
      : <%= link_to "Privacy", doc_path('privacy') %>
    </p>
    <p>
      &copy; 2025 DVRSLY.com, Version <%= Dvrsly::Application::VERSION %>
    </p>
  </div>
</footer>
