<footer>
  <div class="container-fluid">
    <p>
      <%= link_to "About", page_path('about') %>
      : <%= link_to "FAQ", page_path('faq') %>
      : <%= link_to "Roadmap", page_path('roadmap')%>
      : <%= link_to "Changelog", page_path('changelog')%>
      : <%= link_to "Terms", page_path('terms') %>
      : <%= link_to "Privacy", page_path('privacy') %>
    </p>
    <p>
      <span class="copyright">&copy; 2025 DVRSLY.com</span> <span class="slogan">Live Life Diversely</span> <span class="builtby">Built by Shannon</span>
    </p>
  </div>
</footer>
