<div class="container-fluid leftsidenav">
    <p>
      <%= link_to "About", about_url %>
      : <%= link_to "FAQ", faq_url %>
      : <%= link_to "Roadmap", roadmap_url %>
      : <%= link_to "Terms", terms_url %>
      : <%= link_to "Privacy", privacy_url %>
    </p>
    <p>
      &copy; 2025 DVRSLY.com
    </p>
  </div>
