<p id="notice"><%= notice %></p>

<h1>ERGs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Homepage</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @ergs.each do |erg| %>
      <tr>
        <td><%= link_to erg.name, erg %></td>
        <td><%= erg.homepage %></td>
        <td><%= erg.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New ERG', new_erg_path %>
