<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @erg.name %>
</p>

<p>
ERG Member: <% if @is_erg_member %>YES <%= link_to '(Leave)', leave_erg_url(@erg), method: :delete, data: { confirm: 'Are you sure?' } %> <% else %><%= link_to 'Join Now', join_erg_url(@erg) %><% end %>
</p>

<p>
<%= link_to @erg.users.count.to_s + " Members", members_erg_url(@erg) %>
</p>

<p>
  <strong>Active:</strong>
  <%= @erg.active %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @erg.homepage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @erg.description %>
</p>

<%= link_to 'Edit', edit_erg_path(@erg) %> |
<%= link_to 'Back', ergs_path %>

