<% if @in_diversion %>
  <%= form_with(model: [:diversion, @post]) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
  
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :title, class: "label" %>
    <div class="control">
      <%= form.text_field :title, autofocus: true, class: "input" %>
    </div>
    </div>
  
    <div class="field">
      <%= form.label :content %>
    <div class="control">
      <%= form.rich_textarea :content, class: "textarea" %>
    </div>
    </div>
  
    <div class="field">
    <div class="control">
      <%= form.submit "Submit", class: "button is-link" %>
    </div>
    </div>
  <% end %>
<% elsif @in_blog %>
  <%= form_with(model: [:blog, @post]) do |form| %>
  
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
  
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :title, class: "label" %>
    <div class="control">
      <%= form.text_field :title, autofocus: true, class: "input" %>
    </div>
    </div>
  
  <div class="field">
    <%= form.label :content, class: "label" %>
    <div class="control">
    <%= form.rich_textarea :content, class: "textarea" %>
  </div>
  </div>
  
  
    <div class="field">
    <div class="control">
      <%= form.submit "Submit", class: "button is-link" %>
    </div>
    </div>
  <% end %>
<% else %>
  <%= form_with(model: @post) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
  
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :title, class: "label" %>
    <div class="control">
      <%= form.text_field :title, autofocus: true, class: "input" %>
    </div>
    </div>
  
  <div class="field">
    <%= form.label :content, class: "label" %>
    <div class="control">
    <%= form.rich_textarea :content, class: "textarea" %>
  </div>
  </div>
  
    <div class="field">
    <div class="control">
      <%= form.submit "Submit", class: "button is-link" %>
    </div>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
