<div><%= link_to "Back", request.referrer %></div>

<div id="<%= dom_id post %>">
  <p class="post-title"><%= sanitize post.title %></p>
  <p class="post-author"><%= post.user.username %></p>
  <p class="post-body"><%= simple_format(post.body) %></p>
</div>
