<% content_for :title, "DVRSLY" %>
<%= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
<div id="posts">
  <% @posts.each do |post| %>
    <div id="<%= dom_id post %>" class="post">
      <p>
        <span class="post-title"><%= link_to sanitize(post.title), post %></span>
        <span class="post-author"><%= link_to "u/" + post.user.username, post.user %></span>
        <% if post.diversion.present? %><span class="post-diversion"><%= link_to "d/" + post.diversion.title, post.diversion %></span><% end %>
      </p>
      <div class="post-body"><%= truncate(strip_tags(post.body), length: 250) %></div>
    </div>
  <% end %>
</div>
