<% if @user %>
  <% content_for :title, "u/" + @user.username + "/Posts" %>
<% else %>
  <% content_for :title, "Posts" %>
<% end %>
<%== pagy_bulma_nav(@pagy) if @pagy.pages > 1 %>
<div id="posts">
  <% @posts.each do |post| %>
    <div id="<%= dom_id post %>" class="box post">
      <p>
        <span class="post-title"><%= link_to sanitize(post.title), post %></span>
        <span class="post-author"><%= link_to "u/" + post.user.username, post.user %></span>
        <% if post.diversion.present? %><span class="post-diversion"><%= link_to "d/" + post.diversion.title, post.diversion %></span><% end %>
        <% if post.blog.present? %><span class="post-blog"><%= link_to "b/" + post.blog.title, post.blog %></span><% end %>
      </p>
      <div class="post-content"><%= post.content.to_plain_text.truncate(250) %></div>
    </div>
  <% end %>
</div>
