<% content_for :title, "DVRSLY:diversion.title" %>

<div id="<%= dom_id diversion %>" class="diversion">
  <p class="diversion-title"><%= link_to "d/" + sanitize(diversion.title), diversion %></p>
  <p class="diversion-description"><%= simple_format(diversion.description) %></p>

  <% if @posts.present? %>
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    <% @posts.each do |post| %>
      <p>
        <span class="post-title"><%= link_to "p/" + post.title, post %></span>
        <span class="post-author"><%= link_to "u/" + post.user.username, post.user %></span>
      </p>
      <p class="post-body"><%= post.body %></p>
    <% end %>
  <% end %>
</div>
