<%= form_with(model: diversion) do |form| %>
  <% if diversion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(diversion.errors.count, "error") %> prohibited this diversion from being saved:</h2>

      <ul>
        <% diversion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, autofocus: true, class: "label" %>
  <div class="control">
    <%= form.text_field :title, class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
  <div class="control">
    <%= form.textarea :description, class: "textarea" %>
  </div>
  </div>

  <div class="field">
  <div class="control">
    <%= form.submit "Submit", class: "button is-link" %>
  </div>
  </div>
<% end %>
