<p style="color: green"><%= notice %></p>

<% if Current.user %><%= link_to "Post in Diversion", new_diversion_post_path(@diversion) %><% end %>

<%= render @diversion %>

<% if Current.user %>
<div>
  <%= link_to "Back to diversions", diversions_path %>
  <%= link_to "Edit this diversion", edit_diversion_path(@diversion) %> |
  <%= link_to "Destroy this diversion", @diversion, data: {turbo_method: :delete, turbo_confirm: "Confirm Deletion"} %>
</div>
<% end %>
