<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%#= link_to image_tag("engage_logo.svg"), dashboards_index_url, class: "navbar-item" %>
    <%= link_to "DVRSLY", root_path, class: "navbar-item" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Blogs</a>
        <div class="navbar-dropdown">
          <%= link_to "All Blogs", blogs_path, class: "navbar-item" %>
          <% if Current.user %><%= link_to "New Blog", new_blog_path, class: "navbar-item" %><% end %>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Diversions</a>
        <div class="navbar-dropdown">
          <%= link_to "All Diversions", diversions_path, class: "navbar-item" %>
          <% if Current.user %><%= link_to "New Diversion", new_diversion_path, class: "navbar-item" %><% end %>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Posts</a>
        <div class="navbar-dropdown">
            <%= link_to "All Posts", posts_path, class: "navbar-item" %>
            <% if Current.user %><%= link_to "New Post", new_post_path, class: "navbar-item" %><% end %>
        </div>
      </div>
      <% if Current.user %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">My Account</a>
        <div class="navbar-dropdown">
          <%= link_to "Change Password", edit_password_url(Current.user.password_reset_token), class: "navbar-item" %>
          <%= button_to "Sign Out", session_path, method: :delete, class: "navbar-item" %>
        </div>
      </div>
      <% else %>
        <%= link_to "Sign In", new_session_path, class: "navbar-item" %>
        <%# link_to "Sign Up", new_registration_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>
